body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px; /*Para el tamaño de la letras*/
    margin: 8px 15px 8px 15px; /*Indica el margen que quiero*/
    padding: 2.5px;
    color: rgb(3, 39, 56);
    background-color: rgb(173, 226, 112);
}

h1, h2, h3, h4, h5, h6 {
    color:rgb(8, 255, 255);
    font-weight: bold;
    text-align: center;
}

#ÁLVARO {
    background-color: rgb(46, 39, 39);
}

#SOBREMI{
    background-color: rgb(107, 71, 42);
}

#PORTFOLIO{
    background-color: azure;
}